.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body, div, p {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

.posting {
  margin-top: 30px;
  margin-bottom: 30px;
}

.posting input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
  border: 1px solid grey;
}

.posting button {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.menu {
  background-color: #eee;
  margin-top: 0;
  padding : 5px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: right;
}

.menu p {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.menu hr {
  background-color:aliceblue;
  margin: 0;
  padding: 0;
}

.list {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}

.detailModal {
  padding: 20px;
  background-color: #eee;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
